table {
  border-collapse: collapse;
  background: white;
  width: 100%;

  &, th, td {
    border: 1px solid #838383;
  }

  tbody, thead, tr, th, td {
    height: 48px;
  }

  tr {
    display: flex;

    > td:not(:first-child) {
      :hover {
        background: #c4c4c4;
      }
    }
  }

  th, td {
    min-width: 48px;
    height: 48px;

    > div {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.red {
  background: #ce9898;
}

.yellow {
  background: #dede66;
}

.blue {
  background: #b0b0de;
}

.cls::before {
  content: '';
  height: 20px;
  width: calc(100% + 4px);
  z-index: 1;
  background: rebeccapurple;
}

.cls-left::before {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cls-right::before {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}